<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="US">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
</head>

<body>
<h3>Hosts List:</h3>

<table>

    <thead>
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Pets</th>
    </tr>
    </thead>

    <tbody>
    <tr th:if="${hosts.isEmpty()}">
        <td colspan="3">No Hosts</td>
    </tr>
    <tr th:each="host : ${hosts}">
        <td><span th:text="${host.getFirstName()}">First Name</span></td>
        <td><span th:text="${host.getLastName()}">Last Name</span></td>
        <td>
            <a th:href="@{/pets(host-id=${host.getId()})}">Pets...</a>
        </td>
    </tr>
    </tbody>

</table>
<br>

<a href="/addhost">Add New Host</a>
</body>

</html>