<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="US">
<head>
    <title>Spring Security Example </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link th:href="@{../css/style.css}" rel="stylesheet"/>

    <style>
        .text-right {
            text-align: right;
        }

        .error-text {
            -webkit-text-fill-color: red;
        }

        table tr th {
            padding: 10px;
        }

    </style>
</head>
<body>
<table>
    <tr>
        <th><a href="/about">About</a></th>
        <th><a href="/registration">Register</a></th>
    </tr>
</table>

<div th:if="${param.error}" class="error-text">
    Invalid username or password.
</div>
<div th:if="${param.logout}">
    You have been logged out.
</div>

<h1>Login page</h1>

<form th:action="@{/login}" method="post">
    <table>
        <tr>
            <td>User Name:</td>
            <td><label><input type="text" name="username"/></label></td>
        </tr>
        <tr>
            <td>Password:</td>
            <td><label><input type="password" name="password"/></label></td>
        </tr>
        <tr>
            <td></td>
            <td class="text-right"><input type="submit" value="Sign In"/></td>
        </tr>
    </table>
</form>
</body>
</html>