<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="US">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link th:href="@{/css/style.css}" rel="stylesheet" />
</head>

<body>

<h5>
    <a href="/hosts">
        <span th:text="${isAdmin}? '<< Back'"></span>
    </a>
</h5>

<h5>
    <form  th:action="@{/logout}" method="post">
       <button>LOGOUT</button>
    </form>
</h5>

<h3>
    Pets of '<span th:text="${hostName}"></span>' (<span th:text="${hostLogin}"></span>)
</h3>

<table>

    <thead>
        <tr>
            <th>Name</th>
            <th>Breed</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
    <tr th:if="${pets.isEmpty()}">
        <td colspan="2">No Pets found</td>
    </tr>
    <tr th:each="pet : ${pets}">
        <td><span th:text="${pet.getName()}">Name</span> </td>
        <td><span th:text="${pet.getBreed()}">Breed</span> </td>
        <td>
            <a th:href="@{/deletepet(pet_id=${pet.getId()})}">Delete</a>
        </td>
    </tr>
    </tbody>

</table>
<br>

<hr>

<h4>Add new Pet:</h4>

<form th:action="@{/pets}" th:object="${petForm}" method="post">
    Name:
    <label>
        <input type="text" th:name="name" th:field="*{name}">
    </label>
    <br>

    Breed:
    <label>
        <input type="text" th:name="breed" th:field="*{breed}">
    </label>
    <br>
    <br>

    <input type="submit" value="Add Pet">

</form>
<br>

</body>

</html>